.fotosMain {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.fotosFoto {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .fotosMain {
    flex-direction: column;
  }

  .fotosFoto {
    width: 50%;
  }
}