.navBar {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}

.navBarInner {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.navBarInner div {
  margin: 10px;
}

.navBarInner a {
  text-decoration: none;
  color: #0d6e98;
}

.navBarInner a:hover {
  color: #82981a;
}

.navBarLeft {
  padding-left: 30px;
}

.navBarRight {
  padding-right: 30px;
}

@media only screen and (max-width: 1070px) {
  .navBarInner {
    flex-direction: column;
    justify-content: center;
  }
}
