@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Patrick+Hand&display=swap');


body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
